# Ignore everything.
*

# Do not ignore source files.
!*.c
!*.cpp
!*.h
!*.hpp
!src/
!include/
!*.cu
!*.cl
!*.hip

# Do not ignore test_data.
!test_data

# Do not ignore clang-format file.
!.clang-format

# Do not ignore ignoring list.
!.gitignore

# Do not ignore attribuites.
!.gitattributes

# Do not ignore README.
!README.md
!REPORT.md

# Do not ignore classroom workflow for tests.
!.github/
!.github/workflows/
!.github/workflows/classroom.yml